node_modules/
dist/
.env
.vscode/
.DS_Store
*.log
coverage/
.idea/
*.iml
*.swp  
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
*.tsbuildinfo
.cache/
.next/
out/
build/
.svelte-kit/
.vite/
*.local
*.env
*.env.*
*.pem
*.key